#DATA SCIENCE

In [ ]:
print("Hello world!")

Hello world!

In [ ]:
print("hello",1,4.6,"true",sep="/")

hello/1/4.6/true

In [ ]:
print("hello",end ="-")
print("world")

hello-world

# Data Types

In [ ]:
#integer
print(8)

8

In [ ]:
#decimal/float
print(34.8)
print(1.2e309)

34.8
inf

In [ ]:
#boolean
print(True)
print(False)

True
False

In [ ]:
#text/string
print("utkarsha")

utkarsha

In [ ]:
#complex number
print(4+5j)

(4+5j)

In [ ]:
#list
print([1,23,4,5,3,8,])

[1, 23, 4, 5, 3, 8]

In [ ]:
#tuple
a=((1,2,34))
print(a)

(1, 2, 34)

In [ ]:
#set
print({1,2,3,4,5,6})

{1, 2, 3, 4, 5, 6}

In [ ]:
#dictionary
print({"name":"utkarsha","age":23})

{'name': 'utkarsha', 'age': 23}

In [ ]:
#datatype
print(type(2))

<class 'int'>

# Variables

In [ ]:
#variables are container
name ="utkarsha"
print(name)

a=4
f=5
print(a+f)

utkarsha
9

In [ ]:
#variables are dynamic binding
a=3
print(a)
a="utkarsha"
print(a)

#static binding c, c++, java
#int a =3
#a="abs" this is not allowed in c ,c++ , java

3
utkarsha

In [ ]:
a=2
b=5
d=8
print(a,b,d)

2 5 8

In [ ]:
a,b,c= 2,3,4
print(a,b,c)

2 3 4

In [ ]:
a=b=c=5
print(a,b,c)

5 5 5

# comment

In [ ]:
#this is a comment

# Keywords and Identifier

In [ ]:
#keyword
#32 keyword in python

In [ ]:
#identifier
#it can not be keyword
#you can start with digit
name2="utkarsha "
#you can use special character -> -
_="abc"
print(name2)
print(_)

utkarsha
abc

#User Input

In [ ]:
#static VS dynamic
input()

utkarsha

'utkarsha'

In [ ]:
input("enter your name : ")

enter your name : utkarsha

'utkarsha'

In [ ]:
#take input from user and store it into variable
fnum=input("enter first number:")
snum =input("enter your second number:")
print(fnum,snum)
#there is no adding number because the type of fnum ,snum are string
print(type(fnum),type(snum))
#add 2 variable
result = fnum + snum
#print result
print(result)

enter first number:43
enter your second number:65
43 65
<class 'str'> <class 'str'>
4365

In [ ]:
#take input from user and store it into variable
fnum=input("enter first number:")
snum =input("enter your second number:")
print(fnum,snum)
#there is no adding number because the type of fnum ,snum are string
print(type(fnum),type(snum))
#add 2 variable
result = int(fnum) + int(snum)    # type conversion

#print result
print(result)

enter first number:43
enter your second number:654
43 654
<class 'str'> <class 'str'>
697

In [ ]:
fnum =int(input("enter first number:"))
snum =int(input("enter your second number:"))
print(fnum,snum)
#there is no adding number because the type of fnum ,snum are string
print(type(fnum),type(snum))
#add 2 variable
result = fnum + snum    # type conversion

#print result
print(result)

enter first number:34
enter your second number:54
34 54
<class 'int'> <class 'int'>
88

In [ ]:
#implicity VS explicity
#Implicity
print(3+5.8)
print(type(3),type(5.8))

8.8
<class 'int'> <class 'float'>

In [ ]:
#Explicity
#convert str-->int
a=int("43")
print(a)
print(type(a))

43
<class 'int'>

In [ ]:
#int --> str
print(str(2))

2

#Literals

In [ ]:
a=0b1010 #binary literals
b=100 #decimal literal
c=0o310 #octal literal
d=0x12c #hexadecimal literal

#float literal
float_1=10.5
float_2=1.5e2  #1.5*10^2
float_3=1.5e-3 #1.5*10^3

#complex literals
x=3.14j

print(a,b,c,d)
print(float_1,float_2,float_3)
print(x,x.imag,x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [ ]:
string = 'this is python'
strings ="this is python "
char ="C"
multilinr_str=""" this is multiline string with more than one line code """
unicode =u"\U0001f600\U0001f606\U0001f923"
raw_str=r"raw \n string"

print(string)
print(strings)
print(char)
print(multilinr_str)
print(unicode)
print(raw_str)

this is python
this is python
C
 this is multiline string with more than one line code
😀😆🤣
raw \n string

In [ ]:
a=True+4
b=False+10
print("a:",a)
print("b:",b)

a: 5
b: 10

In [ ]:
a=None
print(a)

None

#Task1

In [ ]:
#Q1 :- Print the given strings as per stated format.

print("Data","Science","Mentorship","Program","By","CampusX",sep="-")

Data-Science-Mentorship-Program-By-CampusX

In [ ]:
#Q2:- Write a program that will convert celsius value to fahrenheit.
celsius = float(input("enter the tem in celsius:"))
fahrenheit = (celsius *9/5)+32
print(f"convert celsius value {celsius} c to fahrenheit {fahrenheit}F")

enter the tem in celsius:34
convert celsius value 34.0 c to fahrenheit 93.2F

In [ ]:
#Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

a=int(input("enter first number :"))
b=int(input("enter second number :"))

print("a:",b,"b:",a)

enter first number :9
enter second number :4
a: 4 b: 9

In [ ]:
#Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

Value_of_principle = int(input("enter the value of principle"))

Rate_of_interest= int(input("enter the rate of interest"))
Time_period = int(input("enter the time period"))

simple_interest =(Value_of_principle*Rate_of_interest*Time_period)
print("simple interest:",simple_interest)

enter the value of principle65
enter the rate of interest56
enter the time period4
simple interest: 14560

In [ ]:
#Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

heads = int(input("enter the number of heads:"))
legs = int(input("enter the number of legs:"))

dogs = (legs -2 * heads)//2
chickens = heads - dogs

print("number of chickens: ",chickens)
print("number of dogs: ", dogs)

enter the number of heads:5
enter the number of legs:14
number of chickens:  3
number of dogs:  2

In [ ]:
#Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

n=int(input("enter the natural number:"))
sum = (n * (n + 1) * (2 * n + 1)) // 6
print("sum of square of first n natural number :", sum)

enter the natural number:4
sum of square of first n natural number : 30

In [ ]:
#Q8 :-Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.
a1=int(input("enter the first term :"))
a2= int(input("enter the second term:"))
n = int(input("enter the nth term:"))

d=a2-a1
nth_term = a1+ (n-1)*d
print("The", n, "th term of the series is:", nth_term)

enter the first term :4
enter the second term:3
enter the nth term:8
The 8 th term of the series is: -3

In [ ]:
#Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

# Input for first fraction
a = int(input("Enter numerator of 1st fraction: "))
b = int(input("Enter denominator of 1st fraction: "))

# Input for second fraction
c = int(input("Enter numerator of 2nd fraction: "))
d = int(input("Enter denominator of 2nd fraction: "))

# Calculate numerator and denominator of the sum
numerator = (a * d) + (b * c)
denominator = b * d

# Find GCD using Euclidean Algorithm
x = numerator
y = denominator
while y != 0:
    x, y = y, x % y

gcd = x

# Simplify the fraction
numerator = numerator // gcd
denominator = denominator // gcd

# Output the result
print("The sum of the two fractions is:", numerator, "/", denominator)

Enter numerator of 1st fraction: 78
Enter denominator of 1st fraction: 768
Enter numerator of 2nd fraction: 6
Enter denominator of 2nd fraction: 7
The sum of the two fractions is: 859 / 896

In [ ]:
#Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.
#Input:
# Dimensions of the milk tank
# H = 20cm, L = 20cm, B = 20cm

# Dimensions of the glass
# h = 3cm, r = 1cm


# Tank dimensions
H = int(input("Enter height of tank (cm): "))
L = int(input("Enter length of tank (cm): "))
B = int(input("Enter breadth of tank (cm): "))

# Glass dimensions
h = int(input("Enter height of glass (cm): "))
r = int(input("Enter radius of glass (cm): "))

# Calculate volumes
tank_volume = H * L * B
glass_volume = 3.14 * r * r * h

# Calculate number of glasses (using floor division)
number_of_glasses = int(tank_volume // glass_volume)

# Output
print("Number of glasses of milk that can be filled:", number_of_glasses)

Enter height of tank (cm): 78
Enter length of tank (cm): 67
Enter breadth of tank (cm): 88
Enter height of glass (cm): 77
Enter radius of glass (cm): 78
Number of glasses of milk that can be filled: 0

#Operator



*   Arithmatic Operator

*   Relational Operator

* Logical Operator
* Bitwise Operator
* Assignment Operator
* Membership Operator

In [1]:
#Arithmatic Operator
print(5+6)

print(5-6)

print(5*6)

print(5/2)

print(5//2)   #inetger dividion

print(5%2)

print(5**3)  # power of

11
-1
30
2.5
2
1
125

In [2]:
#Relational Operator

print(4>5)

print(4<5)

print(4>=4)

print(4<=4)

print(4==4)

print(4!=4)

False
True
True
True
True
False

In [3]:
#Logical Operator

print(1 and 0)

print(1 or 0)

print(not 1)

0
1
False

In [5]:
#Bitwise Operator
#and
print(2 & 3)
#or
print(2 | 3)
#xor
print(2 ^ 3)
#mod
print(~3)
#shift left
print(4 >> 2)
#shift right
print(5 << 2)

2
3
1
-4
1
20

In [6]:
#Assignment Operator
#=
a = 2
print(a)
#+=
a += 3
print(a)
#-=
a -= 3
print(a)
#*=
a *= 3
print(a)
#/=
a /= 3
print(a)

2
5
2
6
2.0

In [9]:
#Membership Operator

#in/not in

print('D'in 'Delhi')

print('D'not in 'Delhi')

print(2 in [2,3,4,5,6])

True
False
True

In [10]:
#pro - find the sum of 3 digit number entered by the user
number = int(input("enter 3 digit number:"))
a = number%10
number = number//10
b = number%10
number = number//10
c = number%10
number = number//10
print(a+b+c)

enter 3 digit number:345
12

#If-else in Python

In [14]:
#login program and identification
email =input("enter the email:")
password = input("enter the password:")

if email== "utkarsha.mande@gmail.com" and password =="1234":
  print("welcome")
elif email== "utkarsha.mande@gmail.com" and password !="1234":
  print("incorrect password")
  password = input("enter the password again:")
  if password =="1234":
    print("finally correct")
  else:
    print("still incorrect")
else:
  print("not correct")

enter the email:utkarsha.mande@gmail.com
enter the password:123
incorrect password
enter the password again:1234
finally correct

In [15]:
#find the min of 3 given number
a =int(input("enter the 1st number:"))
b= int(input("enter the 2nd number:"))
c= int(input("enter the 3rd number:"))

if a<b and a<c:
  print("smallest number :",a)

elif  b<c:
  print("smallest number:",b)
else:
  print("smallest number:",c)

enter the 1st number:5
enter the 2nd number:4
enter the 3rd number:6
smallest number: 4

In [17]:
#menu driven calculator

fnum =int(input("enter the 1st number:"))
snum = int(input("enter the 2nd number:"))

ope = input("enter the operator :")

if ope =="+":
  print(fnum+snum)
elif ope =="-":
  print(fnum-snum)
elif ope =="*":
  print(fnum*snum)
elif ope =="/":
  print(fnum/snum)
else:
  print(fnum%snum)

enter the 1st number:89
enter the 2nd number:68
enter the operator :+
157

In [18]:
menu = input ("""
Hi how can i help you .
1. enter 1 for pin change
2.enter 2 for balance check
3. enter 3 for withdrawl
4. enter 4 for exit
""")
if menu =="1":
  print("pin change:")
elif menu =="2":
  print("Balance check")
elif menu =="3":
  print("withdrwal")

else:
  print("exit")

Hi how can i help you .
1. enter 1 for pin change
2.enter 2 for balance check
3. enter 3 for withdrawl
4. enter 4 for exit
3
withdrwal

#Modules in Python


*   math
*   keyword
*   constant
*   random

In [20]:
#math
import math
math.sqrt(196)

14.0

In [21]:
#keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [22]:
#random
import random

print(random.randint(1,100))

70

In [23]:
#datetime
import datetime
print(datetime.datetime.now())

2025-05-17 06:39:00.485942

#Loops in python


*   Need for loops
*   While loops
*   For loops

In [27]:
#while loop
#table of input number
num = int(input("enter the number:"))

i=1
while i<11:
  print(num *i)
  i+=1

enter the number:2
2
4
6
8
10
12
14
16
18
20

In [29]:
#while loop with else

x=1

while x<5:
  print(x)
  x+=1
else:
  print("limit crossed.")

1
2
3
4
limit crossed.

In [39]:
# Guessing game
#generate a random integer between 1 and 100

import random
jackpot = random.randint(1,100)

guess=int(input("Guess any Number: "))
counter = 1
while guess != jackpot:
  if guess< jackpot:
     print("Incorrect !, guess higher...")
  else:
     print("Incorrect !, guess lower...")

  guess= int(input("guess again ..."))
  counter +=1
else:
  print("correct !, guess..")
  print("attempt",counter)

Guess any Number: 50
Incorrect !, guess higher...
guess again ...70
Incorrect !, guess higher...
guess again ...80
Incorrect !, guess higher...
guess again ...90
Incorrect !, guess lower...
guess again ...85
Incorrect !, guess lower...
guess again ...81
Incorrect !, guess higher...
guess again ...84
correct !, guess..
attempt 7

In [40]:
# for loop demo
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [43]:

for i in range(1,11):
  print(i*2)

2
4
6
8
10
12
14
16
18
20

In [44]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [47]:
for e in 'delhi':
  print(e)

d
e
l
h
i

In [49]:
#the current population of a town is 10000. The population of the town is increasing
#at the rate of 10% per year . You have to write a program to find out the
#population at the end of each of the last 10 years.

curr_pop =10000
for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop - 0.1*curr_pop

10 10000
9 9000.0
8 8100.0
7 7290.0
6 6561.0
5 5904.9
4 5314.41
3 4782.969
2 4304.6721
1 3874.20489

#Task 2

In [50]:
# Problem 1: Write a program that will give you in hand monthly salary
#after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction
#as below:
# Salary(Lakhs) : Tax(%)

# Below 5 : 0%
# 5-10 : 10%
# 10-20 : 20%
# aboove 20 : 30%

ctc = float(input("enter your ctc in lakhs per year:"))

#conv to rs
annual =ctc * 100000

hra = 0.10*annual
da = 0.05*annual
pf = 0.03*annual

if ctc< 5:
  tax= 0
elif ctc<10:
  tax=0.10*annual
elif ctc<20:
  tax=0.20*annual
else:
  tax=0.30*annual

total_deduction = hra + da + pf + tax

in_hand_annual = annual - total_deduction
in_hand_monthly = in_hand_annual/12

print("In hand monthly salary is:",in_hand_monthly)

enter your ctc in lakhs per year:10
In hand monthly salary is: 51666.666666666664

In [52]:
#Problem 2: Write a program that take a user input of three angles and
#will find out whether it can form a triangle or not.

a=int(input("enter the 1st angle:"))
b=int(input("enter the 2nd angle:"))
c=int(input("enter the 3rd angle:"))

if a>0 and b>0 and c>0 and a+b+c == 180:
  print("it can form triangle")
else:
  print("it can not form triangle")

enter the 1st angle:30
enter the 2nd angle:60
enter the 3rd angle:90
it can form triangle

In [56]:
#Problem 3: Write a program that will take user input of cost price
#and selling price and determines whether its a loss or a profit.

cost_price = int(input("enter the cost price:"))
selling_price =int(input("enter the selling price:"))

if selling_price >cost_price:
  profit = selling_price - cost_price
  print("profit of Rs.",profit)
else:
  loss =cost_price - selling_price
  print("loss of Rs.",loss)

enter the cost price:600
enter the selling price:400
loss of Rs. 200

In [62]:
#   Problem 4: Write a menu-driven program -
# cm to ft
# km to miles
# USD to INR
# exit

menu = input("""enter any one number from list:
hii how can i help
1. enter 1 to cm to ft
2. enter 2 to km to miles
3. enter 3 to USD to INR
4. enter 4 to exit
""")

if menu == "1":
    cm = float(input("Enter value in centimeters: "))
    ft = cm / 30.48
    print("Value in feet:", ft)

elif menu == "2":
    km = float(input("Enter value in kilometers: "))
    miles = km * 0.621371
    print("Value in miles:", miles)

elif menu == "3":
    usd = float(input("Enter amount in USD: "))
    inr = usd * 83.20   # You can update the rate as needed
    print("Value in INR: Rs", inr)

elif menu == "4":
    print("Exiting program. Thank you!")

else:
    print("Invalid input. Please choose 1 to 4.")

enter any one number from list:
hii how can i help
1. enter 1 to cm to ft
2. enter 2 to km to miles
3. enter 3 to USD to INR
4. enter 4 to exit
3
Enter amount in USD: 7888
Value in INR: Rs 656281.6

In [65]:
#Problem 5 -  Display Fibonacci series up to 10 terms.
num = int(input("enter the number: "))

a=0
b=1

print("Fibonacci series:")

for i in range(num):
  print(a, end =" ")
  c=a+b
  a=b
  b=c

enter the number: 10
Fibonacci series:
0 1 1 2 3 5 8 13 21 34

In [67]:
#Problem 6 - Find the factorial of a given number.
num =int(input("enter the number:"))

fact =1

for i in range (1,num+1):
  fact = fact*i

print("Factorial of ",num, "is", fact)

enter the number:5
Factorial of  5 is 120

In [69]:
#Problem 7 - Reverse a given integer number.
num=int(input("enter any number: "))

reversed_num = int(str(num)[::-1])
print("Reversed Num",reversed_num)

enter any number: 453
Reversed Num 354

In [70]:
# # Problem 8: Take a user input as integer N. Find out the sum from 1 to N.
# If any number if divisible by 5, then skip that number. And if the
# sum is greater than 300, don't need to calculate the sum further more.
#  Print the final result. And don't use for loop to solve this problem.


N = int(input("Enter an integer N: "))
total_sum = 0
i = 1

while i <= N:
    if i % 5 != 0:
        total_sum += i
        if total_sum > 300:
            break
    i += 1

print("Final sum:", total_sum)

Enter an integer N: 400
Final sum: 303

In [74]:
# Problem 9: Write a program which will find all such numbers which are
# divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both
# included). The numbers obtained should be printed in a comma-separated
# sequence on a single line.

result=[]

for num in range(2000, 3201):
  if num % 7==0 and num% 5!=0:
    result.append(str(num))

# print((result),sep=",")
print(", ".join(result))

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

In [78]:
# Problem 10: Write a program, which will find all such numbers between
#  1000 and 3000 (both included) such that each digit of the number is an
# even number. The numbers obtained should be printed in a space-
#  sequence on a single line.

result =[]

for i in range(1000, 3001):
  s = str(i)
    # Check if all digits are even
  if all(int(digit) % 2 == 0 for digit in s):
        result.append(str(i))

# print("even number:",result)

print(" | ".join(result))

2000 | 2002 | 2004 | 2006 | 2008 | 2020 | 2022 | 2024 | 2026 | 2028 | 2040 | 2042 | 2044 | 2046 | 2048 | 2060 | 2062 | 2064 | 2066 | 2068 | 2080 | 2082 | 2084 | 2086 | 2088 | 2200 | 2202 | 2204 | 2206 | 2208 | 2220 | 2222 | 2224 | 2226 | 2228 | 2240 | 2242 | 2244 | 2246 | 2248 | 2260 | 2262 | 2264 | 2266 | 2268 | 2280 | 2282 | 2284 | 2286 | 2288 | 2400 | 2402 | 2404 | 2406 | 2408 | 2420 | 2422 | 2424 | 2426 | 2428 | 2440 | 2442 | 2444 | 2446 | 2448 | 2460 | 2462 | 2464 | 2466 | 2468 | 2480 | 2482 | 2484 | 2486 | 2488 | 2600 | 2602 | 2604 | 2606 | 2608 | 2620 | 2622 | 2624 | 2626 | 2628 | 2640 | 2642 | 2644 | 2646 | 2648 | 2660 | 2662 | 2664 | 2666 | 2668 | 2680 | 2682 | 2684 | 2686 | 2688 | 2800 | 2802 | 2804 | 2806 | 2808 | 2820 | 2822 | 2824 | 2826 | 2828 | 2840 | 2842 | 2844 | 2846 | 2848 | 2860 | 2862 | 2864 | 2866 | 2868 | 2880 | 2882 | 2884 | 2886 | 2888

In [81]:
x, y = 0, 0

while True:
    command = input("Enter command (or press Enter to stop): ")
    if command == "":
        break

    parts = command.split()
    if len(parts) != 2:
        print("Invalid input format! Please enter direction and steps separated by space.")
        continue

    direction, steps = parts
    if not steps.isdigit():
        print("Steps should be a number!")
        continue

    steps = int(steps)

    if direction.upper() == "UP":
        y += steps
    elif direction.upper() == "DOWN":
        y -= steps
    elif direction.upper() == "LEFT":
        x -= steps
    elif direction.upper() == "RIGHT":
        x += steps
    else:
        print("Invalid direction")

print("Final position:", (x, y))

Enter command (or press Enter to stop): UP 2
Enter command (or press Enter to stop): DOWN 3
Enter command (or press Enter to stop): LEFT 3
Enter command (or press Enter to stop): RIGHT 4
Enter command (or press Enter to stop):
Final position: (1, -1)

In [82]:
# Problem 12:Write a program to print
# whether a given number is a prime number or not

num = int(input("Enter a number: "))

if num <= 1:
    print(num, "is not a prime number")
else:
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break

    if is_prime:
        print(num, "is a prime number")
    else:
        print(num, "is not a prime number")

Enter a number: 89
89 is a prime number

In [83]:
#Problem 13:Print all the Armstrong numbers in a given range.

start = int(input("enter the starting number :"))
end = int(input("enter the ending number :"))

print("Armstrong numbers between", start, "and", end, "are:")

for num in range (start, end+1):
  order = len(str(num))
  sum_of_powers = 0
  temp = num

  while temp>0:
    digit = temp %10
    sum_of_powers += digit ** order
    temp = temp //10

  if sum_of_powers == num:
    print(num , end =" ")

enter the starting number :1000
enter the ending number :3000
Armstrong numbers between 1000 and 3000 are:
1634

In [84]:
#Problem 14:Calculate the angle between the hour hand and minute hand.


hour = int(input("Enter hour (1-12): "))
minute = int(input("Enter minute (0-59): "))

# Calculate the angle
angle = abs((30 * hour) - (11 / 2) * minute)

# Return the smaller angle
if angle > 180:
    angle = 360 - angle

print(f"The angle between hour and minute hands is {angle} degrees.")

Enter hour (1-12): 5
Enter minute (0-59): 45
The angle between hour and minute hands is 97.5 degrees.

In [85]:
# Problem 15:Given two rectangles, find if the given two rectangles
# overlap or not. A rectangle is denoted by providing the x and y
#  coordinates of two points: the left top corner and the right
#   bottom corner of the rectangle. Two rectangles sharing a side are
#   considered overlapping. (L1 and R1 are the extreme points of the first
# rectangle and L2 and R2 are the extreme points of the second rectangle).


def is_overlapping(L1, R1, L2, R2):
    # If one rectangle is to the left of the other
    if R1[0] < L2[0] or R2[0] < L1[0]:
        return False

    # If one rectangle is above the other
    if R1[1] > L2[1] or R2[1] > L1[1]:
        return False

    return True

L1 = (0, 10)  # top-left of rect1
R1 = (10, 0)  # bottom-right of rect1

L2 = (5, 5)   # top-left of rect2
R2 = (15, 0)  # bottom-right of rect2

if is_overlapping(L1, R1, L2, R2):
    print("Rectangles overlap.")
else:
    print("Rectangles do not overlap.")

Rectangles overlap.